<!--div ng-include src="'src/components/monitoring/slider/slider.html'"-->

<div class="card">
    <div class="card-content">
        <span class="card-title">Seen by</span>
        <div class="row" ng-include src="'src/components/monitoring/cluster/seenBy/seenBy.html'"></div>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <span class="card-title">Members</span>
        <div class="row" ng-include src="'src/components/monitoring/cluster/members/members.html'"></div>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <span class="card-title">Unreachable</span>
        <div class="row" ng-include src="'src/components/monitoring/cluster/unreachable/unreachable.html'"></div>
    </div>
</div>