<div id="Toolbar" class="row">
    <div class="offset-m3 col m4 xs12" ng-controller="ReservationSliderController">
        <div class="row">
            <div class="col xs3" style="text-align: right;">
                <span>Reservation&nbsp;time:</span>
            </div>
            <div class="col xs6">
                <div id="ReservationPeriodSlider"></div>
            </div>
            <div id="ReservationSliderInfo" class="col xs3">
                <span>{{selectedTime}}</span>
            </div>
        </div>
    </div>
</div>